<header class="header">
  Safe navigation operator
</header>
<main class="container form">
  <section class="">
    <div>Use safe navigation operator</div>
    {{ player?.name }}
    <hr>
    <div>Use *ngIf for 'player'</div>
    <ng-container *ngIf="player">
      {{ player.name }}
    </ng-container>
    <hr>
    <div>Use *ngIf for 'player?.name'</div>
    <ng-container *ngIf="player?.name">
      {{ player.name }}
    </ng-container>
  </section>
  <hr>
</main>
    